.header {
  display: flex;
  align-items: center;
  border-radius: 0 0 16px 16px;
  padding: 24px 16px;
  box-shadow: var(--shadow-elevated);
  background-color: var(--white-smoke-light);
}

.header__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray);
  line-height: 1em;
  text-transform: uppercase;
}

.header__body {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline-start: auto;
}
