.button {
  --button-bg-color: var(--white-smoke);
}

.button {
  display: inline-block;
  aspect-ratio: 1 / 1;
  margin: 0;
  border-radius: 8px;
  padding: 12px;
  box-shadow: var(--shadow-elevated);
  background-color: var(--button-bg-color);
  cursor: pointer;
}

.button:active {
  box-shadow: var(--shadow-depressed);
}

.button:disabled {
  box-shadow: var(--shadow-disabled);
  cursor: default;
}

.button__content {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey);
}
