.button {
  --_button-bg-color: var(--white-smoke);
  --_button-shadow: var(--shadow-elevated);
}

.button {
  display: inline-block;
  aspect-ratio: 1 / 1;
  margin: 0;
  border-radius: 8px;
  padding: 12px;
  box-shadow: var(--_button-shadow);
  background-color: var(--_button-bg-color);
  cursor: pointer;
}

.button--is-full-width {
  display: block;
  aspect-ratio: auto;
}

.button:disabled {
  --_button-shadow: var(--shadow-disabled);
  cursor: default;
}

.button:active,
.button--is-pressed,
.button--is-pressed:is(:disabled) {
  --_button-shadow: var(--shadow-depressed);
}

.button__content {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey);
}
