.layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-block-size: 100dvh;
  background-color: var(--white-smoke);
}

.layout__main {
  display: grid;
  place-items: center;
  flex: 1 1 auto;
  padding: 16px;
}

.layout__side {
  display: flex;
  flex: 0 0 auto;
  padding: 16px;
}
