.icon {
  --_icon-size: var(--icon-size, 24px);
  --_icon-color: var(--icon-color, currentColor);
}

.icon {
  display: inline-block;
  block-size: var(--_icon-size);
  vertical-align: top;
  color: var(--_icon-color);
}

.icon svg {
  display: block;
  block-size: 100%;
  fill: var(--_icon-color);
}
