:root {
  --black: #000000;
  --black-alpha-10: rgba(0, 0, 0, .1);
  --black-alpha-20: rgba(0, 0, 0, .2);
  --black-alpha-30: rgba(0, 0, 0, .3);
  --black-alpha-40: rgba(0, 0, 0, .4);
  --black-alpha-50: rgba(0, 0, 0, .5);
  --black-alpha-60: rgba(0, 0, 0, .6);
  --black-alpha-70: rgba(0, 0, 0, .7);
  --black-alpha-80: rgba(0, 0, 0, .8);
  --black-alpha-90: rgba(0, 0, 0, .9);

  --gray: #686976;
  --gray-light: #a0a0a0;
  --gray-dark: #484848;
  --gray-alpha-10: rgba(104, 105, 118, .1);

  --white: #ffffff;
  --white-smoke-light: #fafafa;
  --white-smoke: #f0f1f4;
  --white-alpha-10: rgba(255, 255, 255, .1);
  --white-alpha-20: rgba(255, 255, 255, .2);
  --white-alpha-30: rgba(255, 255, 255, .3);
  --white-alpha-40: rgba(255, 255, 255, .4);
  --white-alpha-50: rgba(255, 255, 255, .5);
  --white-alpha-60: rgba(255, 255, 255, .6);
  --white-alpha-70: rgba(255, 255, 255, .7);
  --white-alpha-80: rgba(255, 255, 255, .8);
  --white-alpha-90: rgba(255, 255, 255, .9);

  --shadow-elevated:
    -3px -3px 4px 0 var(--white-alpha-80),
    3px 3px 4px 0 var(--black-alpha-10);
  --shadow-depressed:
    inset -3px -3px 4px 0 var(--white-alpha-80),
    inset 3px 3px 4px 0 var(--black-alpha-10);
  --shadow-disabled: none;

  --color-tile-1: hsl(0, 100%, 65%);
  --color-tile-2: hsl(40, 100%, 65%);
  --color-tile-3: hsl(60, 100%, 65%);
  --color-tile-4: hsl(110, 100%, 65%);
  --color-tile-5: hsl(0, 0%, 65%);
  --color-tile-6: hsl(200, 100%, 65%);
  --color-tile-7: hsl(240, 100%, 65%);
  --color-tile-8: hsl(270, 100%, 65%);
  --color-tile-9: hsl(300, 100%, 65%);
}
